<div id="main-img">
<div class="column">


 <h3> Connecting you to locally grown food</h3> 

       <h4>where are the farmer's markets near you? </h4>
       

  <%= form_tag(markets_path, :method => "get", class: "navbar-form", id: "search-form") do %>
    <div class="input-append">
      <%= text_field_tag :search, params[:search], class: "span2", placeholder: "address, city, or zip" %>
     <% end %>
      <br>
        <br>
      <button type="submit" class="btn btn-default">Find </button>

       
</div>
</div>
</div>
