<div id="welcome">
<div class="column">
<h1>Fresh Connect</h1>
 <h2> connecting you to local farmers markets!
       where is the closest market to you? </h2>
        

<form class="navbar-search">
   

    <%= form_tag(markets_path, :method => "get", class: "navbar-form", id: "search-form") do %>
    <div class="input-append">
      <%= text_field_tag :search, params[:search], class: "span2", placeholder: "adress, city, or zip" %><br>
        <br>
      <button type="submit" class="btn btn-default">Find </button>
      <% end %> 
  
  </div> -->
</div>
