
@import "bootstrap";
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
$body-bg: #ecf0f1;
$navbar-default-bg:#ecf0f1;
$navbar-default-link:#ecf0f1;
$navbar-default:#ecf0f1;


$navbar-brand: #c0392b;

@import 'bootstrap';


html, body {
    background: url("Apple-orchard.jpg")no-repeat scroll 0 0 / 100% 100% transparent !important;
    height: 100%;
    margin: 0;
    padding: 0;
  
}
.column{
  text-align:center;
  margin: 10px;
  padding:50px;
  }

h1{
  color: #ecf0f1;
} 

h2{
  color:#ecf0f1;
}
.nav-bar a{
  color:#e74c3c;
} 
