// Place all the styles related to the markets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url(http://fonts.googleapis.com/css?family=Delius+Swash+Caps);


html,body{
  background-color: white;
}

a:hover{
  text-decoration:none;
  color: #e74c3c;
}

.market{
  font-color:black;
}