// Place all the styles related to the recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.column{
 padding-top: 35px;
 padding-left:750px;
}

h2, h3, h4, h5, h6 {
  color: #F24825;
  font-family:'Roboto Condensed', sans-serif;
  font-size: 30px;
}
.inline-list{
  padding-left:45px;
  font-size:14px;
}
.no-bullet{
  padding:0 45px 5px 45px;
}
#list-markets{
 background: image-url('retina_wood.png');
}
.title{
  text-align:center;
  font-size:50px;
}
a{
   color: #F24825;

}
a:hover{
 color: #7f5000;
}
h2{
  padding-left: 105px;
}
.btn-default{
color:#F24825;
}
.btn-default:hover{
color:#7f5000;
}

.input-append{
  width:200px;

}
.button > .success{
  color:#7f5000;
}

.form-group{
  padding-left:105px;
  width: 70%;
}

#logo a {
  color: #7f5000;
  text-shadow: 0px 1px 2px rgba(255, 255, 255, 0.5);
  font-family:'Roboto Condensed', sans-serif;
  font-size: 25px;

  
}

top-bar{
  margin-bottom:0;
}



// #background-img {
//   background: image-url('canvas.jpg');
// }


#main-img{
  background: image-url('field_cow.JPG');
  background-size: 40% 40%;
  height: 600px;
  width:100%;
  border-top: 1px solid #999;
  border-bottom: 1px solid #999;
  background-size:cover;
  }

p{
   color: #7f5000;
  text-shadow: 0px 1px 2px rgba(255, 255, 255, 0.5);
  font-family:'Roboto Condensed', sans-serif;
  font-size: 20px;
  font-size: 250%;
  float:right;
  padding-left:75px;
}

icons-lined
{
  margin-bottom:0;
}

footer > p{
  text-align: center;
  margin-right:455px;
  color: transparent;
  font-size:16px;
  font-family: 'Roboto Condensed', sans-serif;
  background-color: #7f5000;
  text-shadow: 0px 1px 2px rgba(255, 255, 255, 0.5);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
}

footer .love {
  color: #F24825;
  text-shadow: 0px 1px 2px rgba(255, 255, 255, 0.5);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
}
